<div class="container-fluid">
  <div class="row options-user">
    <div class="col-sm-2">
      <a href="/users/show">Home</a>
    </div>
    <div class="col-sm-2">
      <a href="/users/show/calendar">Calendar</a>
    </div>
    <div class="col-sm-2">
      <a href="#">Stadistics</a>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <i class="fa fa-commenting" aria-hidden="true"></i>
      <a href="#">Messages</a>
    </div>
    <div class="col-sm-2">
      <i class="fa fa-exclamation" aria-hidden="true"></i>
      <a href="#">Notifications</a>
    </div>
  </div>
</div>
<div class="container-fluid table_">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header prueba"> <%= @rol %> Matches Schedule </h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Blue Team</th>
              <th>Red Team</th>
              <th> Match Date</th>
              <th>Confirm </th>
              <th>Winner</th>
            </tr>
          </thead>
            <tbody>
              <% for i in 0..@op.length-1 %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= @op[i][0] %></td>
                  <td><%= @op[i][1] %></td>
                  <td><%= @op[i][2] %></td>
                  <td>
                  YES
                  <input type="checkbox" name="yesno">
                  NO
                  <input type="checkbox" name="yesno">                    
                  <div class="if-yes-then-show">
                  REVEALED CONTENT
                  </div>
                  </td>
                  <td> -----</td>
                </tr>
              <%end%> 
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>      